<header class="app-header shadow-lg">
  <div class="flex items-center justify-between p-6 pt-[10px] pb-[10px]">
    <div class="flex items-center space-x-4">
      <h1 class="text-xl font-bold text-gray-900">Saída Inteligente</h1>
    </div>
  </div>
</header>
<main class="max-w-2xl mx-auto flex flex-col items-center gap-6">
  <button class="school-btn-primary">Chamar</button>
  <button class="school-warning-btn">Autorizações</button>
  <p> <%= @students%></p>
</main>